<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>HBPull GUI</title>

    </head>
    <body>
        <nav class="navbar navbar-expand-md sticky-top navbar-dark" style="background-color: #009374;">
            <a style="color: #ffffff;" class="navbar-brand mb-1 h1" href="#">HBPull</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logging">Logging</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/config">Configuration</a>
                  </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="container">
            <div class="mt-5 col-md-12">
                <!-- Flash messages -->
                {% block content %}
                {% endblock %}
            </div>
            
        </main><!-- /.container -->
    </body>
</html>
